doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Template engine Pug
    block stylesheets
    link(rel="stylesheet", href=pathCSS)
  body
    header
      nav
        ul
          li
           a(href="#") Home
          li
           a(href="#") About
          li
           a(href="#") Contact
      div 
    div
      block content